<!-- 
- We will use this template to render the endpoint, /urls/new
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>New URL - TinyApp Example</title>
  <% include partials/_header %>
</head>

<body>
  <h3>Create TinyURL</h3>

  <form action="/urls" method="POST">
    <label for="longURL">Enter a URL:</label>
    <input type="text" name="longURL" placeholder="http://">
    <input type="submit" value="Submit">
  </form>
</body>
</html>